<form [formGroup]="userForm" (ngSubmit)="submit()">
  <label for="fname">First name:</label>
  <input type="text" id="fname" formControlName="firstName">
  <label for="sname">Second name:</label>
  <input type="text" id="sname" formControlName="secondName">
  <div formGroupName="credentials">
    <label for="email">Email:</label>
    <input type="text" id="email" formControlName="email">
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password" autocomplete="on">
  </div>
  <button type="submit" [disabled]="!userForm.valid">Sign in</button>
</form>
